<%- include('../partials/header') %>
<section>
        <h3>Address: <%= theClient.address %></h3>
        <h3>Number: <%= theClient.phone %></h3>
</section>
<section>
    <a href="/clients/edit/<%= theClient.id %>">Edit</a>

<%- include('../partials/footer') %>