<%- include('../partials/header') %>
<body class="edit-customer"></body>
<div class="d-flex justify-content-center my-5">
  <form action="/customers/<%= customer.id %>?_method=PUT" method="POST" autocomplete="off">
    <fieldset>
      <h3>Update Customer</h3>
      <div class="form-floating mb-3">
        <input type="text" name="name" value="<%= customer.name %>" class="form-control" id="floatingInput">
        <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" name="phone" value="<%= customer.phone %>" class="form-control" id="floatingPhone">
        <label for="floatingPhone">Phone</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" name="address" value="<%= customer.address %>" class="form-control" id="floatingAddress">
        <label for="floatingAddress">Address</label>
      </div>
      <div class="mt-4 text-center">
        <button type="submit" class="btn btn-custom">Update Customers</button>
      </div>
    </fieldset>
  </form>
</div>
<%- include('../partials/footer') %>