<%- include('../partials/header') %>
<div class="container text-center my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="panel panel-default">
                <h2>Customer List</h2><br>
                <h5>Select a Customer Name</h5>
                <table class=" table my-4 table-wrapper table-striped table-rounded rounded-4 overflow-hidden table-hover">
                    <tbody>
                        <% customers.forEach(function(customer) { %>
                        <tr>
                            <td class="col col-sm-6 align-middle">
                                <a class="customer-name-link" href="/customers/<%= customer.id %>">
                                    <%= customer.name %>
                                </a>
                            </td>
                            <td class="col col-sm-6">
                                <form action="/customers/<%= customer.id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-danger float-end">X</button>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-custom"> <a class="add-customer-link" href="/customers/new"> Add a Customer</a></button>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>