<%- include('../partials/header') %>
<section>
        <h3>Name: <%= customer.name %></h3>
        <h3>Address: <%= customer.address %></h3>
        <h3>Phone: <%= customer.phone %></h3>
</section>
    <a href="/customers/<%= customer.id %>/edit">Edit</a>

<%- include('../partials/footer') %>